.gallery {
  background-color: #fff;
  position: relative;
  padding-bottom: 127px;
  // &__content {
  //   padding-bottom: 127px;
  // }
  &__link {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 180px;
    background: linear-gradient(45.04deg, #fd9924 -51.05%, #f65b16 134.89%);
    // filter: box-shadow(0px 20px 25px #fd372433);
    // filter: box-shadow(0px 35px 50px #fd372433);
    box-shadow: 0px 70px 90px 0px #fd372433, 0px 35px 50px 0px #fd372433, 0px 20px 25px 0px #fd372433;
    // box-shadow: 0px 35px 50px 0px #fd372433;
    // box-shadow:0px 35px 50px 0px #fd372433;
    border-radius: 15px;
    padding: 20px;
    z-index: 100;
    &-instagram {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 440px;
      height: 140px;
      color: #fff;
      font-size: 24px;
      line-height: 29px;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: inherit;
      span {
        align-items: center;
        font-weight: 700;
      }
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;
  // margin-left: auto;
  // margin-right: auto;
}
