.hero {
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10%;
    left: 0;
    background-color: $bg;
  }
  &__content {
    position: relative;
    max-width: 621px;
    margin: 0 auto;
  }
  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    margin-bottom: 18px;
  }
  &__text {
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
  &__img {
    @include screen(lg) {
      width: 80%;
    }
    @include screen(md) {
      width: 100%;
    }
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
  z-index: 999;
  @include screen(lg) {
    justify-content: space-around;
  }
  @include screen(xs) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .menu {
    margin-right: 10%;
    margin-top: 30px;
    @include screen(lg) {
      display: none;
    }
    @include screen(xl) {
      margin-right: 0;
    }
    &__link {
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      padding-right: 40px;
    }
    &__icon {
      display: none;
      width: 27px;
      margin-right: 20%;
      @include screen(sm) {
        margin-right: 7%;
      }
      @include screen(xs) {
        margin-right: 0;
        margin-left: 5%;
      }
      & div {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      @include screen(lg) {
        display: block;
      }
    }
  }
  .logo {
    margin-right: 8%;
    @include screen(sm) {
      margin-right: 5%;
    }
    @include screen(xs) {
      margin-right: 0;
      margin-left: 5%;
    }
  }
  .info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    @include screen(xl) {
      flex-direction: column;
    }
    &-schedule {
      margin-right: 35px;
      @include screen(xl) {
        margin-right: 0;
        margin-bottom: 5px;
      }
      &::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #46cb72;
        margin-right: 9px;
        margin-bottom: 3px;
      }
    }
    &-phone {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      text-align: right;
      &__img {
        width: 50px;
        margin-right: 16px;
      }
    }
  }
}

.parallax {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
  &_top {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    top: 0;

    .parallax__layer {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      will-change: transform animation;
      top: 0;
      &_top-short {
        height: 94%;
      }
    }
    .parallax__item {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      &_icons {
        width: 96%;
        left: 2%;
      }
      &_vegetables {
        top: 11%;
        width: 96%;
      }
    }
  }
}
